.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  background-color: 30% grey;
}
img {
  clear: both;
  float: right;
  border:4px solid white;
  padding: 8px;
  margin: 10px;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}
div {
  text-align: justify;
}

p li {
  font-size: 20px;
}
.cblue {
  color: #005580;
  font-size: 35px;
}

.blue {
  color: #3B4E8F;
}


.size {
  font-size: 25px;
  color: #005580;
}


}
.bg-success h2 {
  color: 20% blue;
}

.sharp-corner {
  border-radius: 5 !important;
}
