.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  background-color: 30% grey;
}
.col-md-4 {
  font-size: 20px;
  background-color: black;
}


.jumboblue {
  background-color: pink;
}

.jumbogreen {
  background-color: green;
}

.jumbowidth {
  width: 450px;

}

.blue {
  color: #3B4E8F;
}

.size h1 {
  font-size: 30px;
}

.size p {
  font-size: 15px;
}
.col-md-6 {
  padding: 1%;
}

.bg-success h2 {
  color: 20% blue;
}

.sharp-corner {
  border-radius: 5 !important;
}
