.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  background-color: 30% grey;
}
img {
  clear: both;
  float: right;
  border:4px solid white;
  padding: 8px;
  margin: 10px;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}
.justify-right {
  clear: both;
  float: right;
  object-fit: contain;

.jumbogreen {
  background-color: 20% grey;
}
.cblue {
  color: blue;
}

.blue {
  text-emphasis-color: #3B4E8F;
}


.size {
  font-size: 20px;
}

.col-md-4 {
  font-size: 20px;
}
.bg-success h2 {
  color: 20% blue;
}

.sharp-corner {
  border-radius: 5 !important;
}
