body {
  background-color: #eee;
}
.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  background-color: #eee;
}

 .widerIMG {
  zoom: 2.34;
  float: left;
  object-fit: fill;
  /*overflow: inherit;*/
  margin: 5px;
  position: relative;
  clip: rect(0px,536px,200px,0px);
  /*width: 536px;
  height: 200px;*/
  width: 100%
}

.smallerIMG {
  clear: both;
  float: right;
  border:4px solid white;
  padding: 2px;
  margin: 5px;
  max-width: 25%;
  max-height: 60%;
  object-fit: contain;
}
.mediumIMG {
  clear: both;
  float: center;
  padding: 2px;
  margin-left: 50px;
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}
ol li strong {
  color: #6bbddb;
}

.justify-left {
  float: left;
}
p {
  font-size: 10px;
  padding: 5px;
  margin: 10px;
  background-color: 30% grey;
}
.smaller {
  font-size: 10px;
  padding: 5px;
  margin: 10px;
}

.blue {
  color: #6bbddb;
}


.sharp-corner {
  border-radius: 5 !important;
}
.resume-showing {
  display: none;
}
